@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<br />
<partial name="_Notification" />
<a class="btn btn-light" asp-controller="Product" asp-action="Upsert"> Create</a>
<br /><br />
<table class="table table-hover">
    <tr class="table-info">
        <th>
            Product Code
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Available Quantity
        </th>
        <th>
            Unit Price
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Id
    </td>
    <td>
        @item.ProductCode
    </td>
    <td>
        @item.Name
    </td>
    <td>
        @item.Description
    </td>
    <td>
        @item.AvailableQuantity
    </td>
    <td>
        @item.UnitPrice
    </td>
    <td>
        <a class="btn btn-outline-dark" asp-controller="Product" asp-action="Upsert" asp-route-id="@item.Id">  Edit</a>
        <a class="btn btn-outline-dark" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">  Delete</a>

    </td>
</tr>
    }
</table>
